@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

:root{
    --background: #0B1A42;
    --text: #ffffff;
    --btn: #8F4486;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
    color: var(--text);
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.btn{
    background-color: var(--btn);
    padding: 7px 12px;
    border-radius: 4px;
    border: hidden;
}
aside{
    z-index: 1;
    position: fixed;
    top: 0;
    left: -300px;
    background-color: var(--btn);
    width: 300px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px;
    transition: all 0.5s ease-in-out ;
}

.logo_aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    position: absolute;
    top: 20%;
}

.links a{
    display: block;
    margin-bottom: 50px;
}

.left{
    left: 0;
}

.fas{
    font-size: 24px;
    cursor: pointer;
}